h1{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.container{
    font-size: 20px;
    justify-content:center;
    display: flex;
    height: 100px;
    align-items: center;
    
}
#button{
    margin-top: 40px;
    margin-left: 570px;
}
.task{
    position: relative;
    width: 50%;
    left: 25%;
}
li{
    list-style: none;
}
.checked{
    text-decoration: line-through;
}
.unchecked{
    text-decoration:none;
}